<NUMBER_OF_TREE> 30 </NUMBER_OF_TREE>
<MAX_TREE_DEPTH> 100 </MAX_TREE_DEPTH>
<MAX_LEAF_NODE_INSTANCE_SIZE> 5 </MAX_LEAF_NODE_INSTANCE_SIZE>
<NUMBER_CANDIDATE_FEATURE> 7 </NUMBER_CANDIDATE_FEATURE>
<CREATE_NODE_TYPE> SINGLE_RESPONSE_NODE </CREATE_NODE_TYPE>
<!--SINGLE_RESPONSE_NODE | MULTI_RESPONSES_NODE-->

<!--add other extra signature-->
<LEAF_NODE_MODEL_SIGNATURE> REGRESSION_MODEL_AVERAGE </LEAF_NODE_MODEL_SIGNATURE>
<NODE_SPLIT_METHOD> INFORMATION_GAIN_METHOD </NODE_SPLIT_METHOD>
<!--INFORMATION_GAIN_METHOD | RESIDUAL_SUM_OF_SQUARES_METHOD-->

<!--Feature signature-->
<FEATURE_SELECTOR> UNIFORM_FEATURE_SELECTOR </FEATURE_SELECTOR>
<!--UNIFORM_FEATURE_SELECTOR | WEIGHTED_FEATURE_SELECTOR-->
<LIVE_UPDATE_FEATURES_WEIGHT> false </LIVE_UPDATE_FEATURES_WEIGHT>
<FEATURE_WEIGHT_CALCULATE_METHOD> PEARSON_METHOD </FEATURE_WEIGHT_CALCULATE_METHOD>
<!--RSS_METHOD | PEARSON_METHOD | VI_FEATURES_METHOD-->

<!--Instance signature-->
<BOOTSTRAP_SELECTOR> UNIFORM_BOOTSTRAP_SELECTOR </BOOTSTRAP_SELECTOR>
<!--UNIFORM_BOOTSTRAP_SELECTOR | WEIGHTED_BOOTSTRAP_SELECTOR-->
<INSTANCE_WEIGHT_CALCULATE_METHOD> RESPONSE_METHOD </INSTANCE_WEIGHT_CALCULATE_METHOD>

<!--Leaf node signature-->
<LEAF_NODE_CONDITION> BASIC_CONDITION </LEAF_NODE_CONDITION>
<!--BASIC_CONDITION | EARLY_FITTING_CONDITION-->
<MAX_MSE_FITTING_THRESHOLD> 1.0 </MAX_MSE_FITTING_THRESHOLD>

<!--OpenMP signature-->
<OPENMP_PARALLEL_BUILD_TREE> true </OPENMP_PARALLEL_BUILD_TREE>

<!--Prediction Method-->
<PREDICTION_METHOD> MEAN_PREDICTION_METHOD </PREDICTION_METHOD>
<!--INTERNAL_NODE_PREDICTION_METHOD | LP_PREDICTION_METHOD | MP_PREDICTION_METHOD | MEAN_PREDICTION_METHOD | VARIANCE_PREDICTION_METHOD-->

<!--Out Dimension Control-->
<OUT_DIMENSION> 1 </OUT_DIMENSION>